* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #030612;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(3, 6, 18, 0.7);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 40px;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

nav a:hover,
nav a.active {
  color: #ff6100;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255,97,0,0.6);
}


.gallery-section {
  padding: 120px 0;
}

.gallery-header {
  text-align: center;
  margin-bottom: 70px;
}

.gallery-header h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

.gallery-header p {
  font-size: 18px;
  opacity: 0.85;
}

/* CARD */
.gallery-card {
  position: relative;
  height: 100%;
  border-radius: 28px;
  overflow: hidden;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 30px 60px rgba(0,0,0,0.45);
  transition: 0.5s ease;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(3,6,18,0.9),
    rgba(3,6,18,0.2)
  );
  opacity: 0;
  display: flex;
  align-items: flex-end;
  padding: 28px;
  transition: 0.4s ease;
}

.gallery-overlay h5 {
  margin: 0;
  font-size: 18px;
  color: white;
}

.gallery-card:hover {
  transform: translateY(-14px);
}

.gallery-card:hover img {
  transform: scale(1.15);
}

.gallery-card:hover .gallery-overlay {
  opacity: 1;
}
