* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #030612;
  color: white;
}

/* ========== PAGE HANDLER ========= */
.page {
  display: none;
  min-height: 100vh;
}

.page.active {
  display: block;
}

/* ========== GREETING ========= */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clock {
  font-size: 64px;
  color: #ff6100;
  margin-bottom: 30px;
}

.highlight {
  color: #ff6100;
}

.subtitle {
  margin: 15px 0;
  font-size: 20px;
}

.info {
  opacity: 0.8;
  margin-bottom: 30px;
}

.btn {
  padding: 15px 40px;
  font-size: 18px;
  background: #1a1a1a;
  color: #ff6100;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* ================= NAVBAR ================= */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(3, 6, 18, 0.65);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 40px;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

/* hover */
nav a:hover {
  color: #ff6100;
}

/* active */
nav a.active {
  color: #ff6100;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255,97,0,0.6);
}


/* ========== BERANDA ========= */
.hero {
  display: flex;
  height: calc(100vh - 80px);
}

.content {
  width: 40%;
  padding: 120px 60px;
}

.curve-image {
  width: 60%;
  background: #ff6100;
  overflow: hidden;
  border-top-left-radius: 320px;
  border-bottom-left-radius: 320px;
}

.curve-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 320px;
  border-bottom-left-radius: 320px;
}
