* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #030612;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(3, 6, 18, 0.65);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 40px;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s ease;
}

nav a:hover {
  color: #ff6100;
}

nav a.active {
  color: #ff6100;
  font-weight: 600;
  text-shadow: 0 0 8px rgba(255,97,0,0.6);
}

.tentang-section {
  min-height: calc(100vh - 80px);
  padding: 120px 80px;
  overflow: hidden;
}

.tentang-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.tentang-text {
  width: 40%;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.tentang-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.tentang-text p {
  font-size: 18px;
  line-height: 1.8;
  opacity: 0.9;
}

.tentang-gallery {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.8s ease;
}

.img-box {
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}


.img-1 { border-radius: 60px 20px 20px 20px; }
.img-2 { border-radius: 20px 60px 20px 20px; }
.img-3 { border-radius: 20px 20px 60px 20px; }
.img-4 { border-radius: 20px 20px 20px 60px; }

.img-box:hover img {
  transform: scale(1.1);
}

.tentang-section.active .tentang-text,
.tentang-section.active .tentang-gallery {
  opacity: 1;
  transform: translate(0);
}
